p {
    color: blue;
}

h1 {
    color: darkgreen;
    text-align: center;
}

div {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    height: 250px;
    text-align: justify;
}
a {
    text-decoration: none;
}

h1.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

